@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting the custom background image */
body {
  font-family: Poppins, sans-serif;
  background-image: url('../gradient-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  color: #1c1b1b; /* Adjust text color for readability */
}

/* Your existing styles */
.nav-link:hover {
  color: #5465ff !important;
}

.nav-item {
  font-size: 17px !important;
}

.navbar-brand {
  font-size: 21px !important;
}

.btn {
  color: #5465ff !important;
  outline-color: #5465ff !important;
  border-radius: 15px !important;
  border-width: 2px !important;
}

.btn:hover {
  background-color: #5465ff !important;
  color: white !important;
}

.card {
  border-color: #5465ff !important;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.btn a {
  color: #5465ff !important;
  outline-color: #5465ff !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  text-decoration: none;
}

.btn a:hover {
  background-color: #5465ff !important;
  color: white !important;
  text-decoration: none;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
