@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* * {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  color: rgb(28, 27, 27);
}

.navbar {
  background-color: #fff;
}

.navbar-brand {
  font-size: 2.2rem;
  color: #5465ff;
}

.nav-item {
  color: rgb(28, 27, 27);
}

.navbar a {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #788bff;
}

.navbar a:hover {
  color: #788bff;
}

.brand-name {
  font-size: 2rem;
  color: #5465ff;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.head2 {
  color: #666666;
  font-size: 1.65rem;
}

.desc {
  text-align: left;
}

.homebutton {
  background-color: #fff;
  border-color: #5465ff;
  color: #5465ff;
  border-radius: 15px;
  padding: 5px 16px;
  font-size: 18px;
}

.homebutton:hover {
  background-color: #5465ff;
  color: #fff;
} */

section {
  padding: 60px 0;
}
* {
  font-family: Poppins;
}
.nav-link:hover {
  color: #5465ff !important;
}
.nav-item {
  font-size: 17px !important;
}
.navbar-brand {
  font-size: 21px !important;
}
.btn {
  color: #5465ff !important;
  outline-color: #5465ff !important;
  border-radius: 15px !important;
  border-width: 2px !important;
}
.btn:hover {
  background-color: #5465ff !important;
  color: white !important;
}
.card {
  border-color: #5465ff !important;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.btn a {
  color: #5465ff !important;
  outline-color: #5465ff !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  text-decoration: none;
}
.btn a:hover {
  background-color: #5465ff !important;
  color: white !important;
  text-decoration: none;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
